@import "tailwindcss";

html, body{
  margin: 0;
  padding: 0;
  background-color: var(--cor-base);
  color:  var(--cor-texto);
  font-size: 18px;
  font-family: "Open Sans", sans-serif !important;
  scroll-behavior: smooth;
  transition: background-color 0.5s ease-in-out;
  --bg-dim: 0; 
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top center;
  transition: background-image 0.4s ease, filter 0.4s ease;  
}

a{
  text-decoration: none;
}

.container{
  margin: 0;
  padding: 0 8%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.reveal{
  animation: appear linear; 
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }

    to{
        opacity: 1;
        scale: 1;
    }
  }

:root {
    --cor-base: #1d1630;
    --cor-texto: rgb(231, 231, 231);
    --texto-hover: rgb(172, 172, 172);
    --cor-card: #2c253f;
    --btn-hover: rgb(190, 190, 190);
    --gradiente: linear-gradient(to right, #1d1630, teal);
    --sombra: 5px 5px 10px 3px rgba(0, 0, 0, 0.05);
    --txt-active: rgb(231, 231, 231);
    --color-name: teal;
    --link-redes: white;
}

.light{
    --cor-base: #ffffff;
    --cor-texto: rgb(37, 37, 37);
    --texto-hover: rgb(128, 128, 128);
    --btn-hover: rgb(148, 148, 148);
    --cor-card: #e2e2e2;
    transition: all 0.5s ease-in-out;
    --txt-active: #3c2775;
    --color-name: #3c2775;
    --link-redes: #3c2775;
 }

 /* overlay */
.page-transition-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0;
  transition: opacity .12s linear;
  z-index: 99990;
  pointer-events: none; /* não bloqueia por padrão */
}

.page-transition-overlay.show {
  opacity: 1;
}

/* bloqueia cliques só quando explicitamente marcado */
.page-transition-overlay[data-block="1"] {
  pointer-events: auto;
}

/* regra para o toggle — remove animação quando necessário */
.no-animation .slider-awesome,
.toggle-awesome.no-animation .slider-awesome:before {
  transition: none !important;
}

/* garanta transição normal no :before do slider */
.slider-awesome:before {
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 767px) {

  #container{
    padding: 0;
    margin: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .btt{
    display: none;
  }

}
