#contato{
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

#contato .section-title{
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    background: teal; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    padding: 20px 20px 0 20px;
}

#contato h2{
    color: var(--cor-texto);
    filter: opacity(60%);
    font-weight: 400;
}

.email{
    font-size: 18px;
    color: var(--cor-texto);
    display: inline-flex; 
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    width: auto;
    text-decoration: none;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.email:hover{
    color: var(--btn-hover);
    transition: all 0.2s ease-in-out;
}

.email i{
    font-size: 28px;
    color: var(--cor-texto);
    filter: opacity(60%);
    padding-right: 15px;
    transition: all 0.2s ease;
}

.wrapper-contato{
    width: 1200px;
    height: 700px;
    margin: auto;
}

.social-icons{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.social-icons ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.social-icons ul li{
    padding: 0px;
}

.social-icons i{
    color:  var(--cor-texto);
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
}

.social-icons i:hover{
    color: var(--btn-hover);
    transition: all 0.2s ease-in-out;
}

.social-icons a{
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    transition: all 0.3s ease;
    border: 3px solid transparent;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.form{
    float: right;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form-content {
    flex-direction: column;
}

.form label {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    color: var(--cor-texto);
}

.form-group input,
.form-group textarea {
    width: 550px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 14px;
    background: none;
    border: 1px solid grey;
    color: var(--cor-texto);
    padding-left: 10px;
}

.form-group textarea {
    padding: 10px;
}

.form-group input{
    height: 2.5em;
}

.form button{
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: teal;
    padding: 15px 35px;
    border-radius: 14px;
    margin-top: 30px;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.form button:hover{
    border: 3px solid transparent;
    background: rgb(0, 83, 83); 
    transition: all 0.3s ease;
}

.popup-alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup-alerta-content {
  background: var(--cor-card);
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px black;
}

.popup-alerta-content p{
    margin: 15px 0 0 0;    
}

#fecharPopupAlerta{
    font-size: 22px;
    color: var(--cor-texto);
    padding: 10px 35px;
    border-radius: 14px;
    margin-top: 30px;
    border: 3px solid transparent;
    border-radius: 15px;
    background: 
    linear-gradient(var(--cor-card), var(--cor-card)) padding-box, 
    var(--gradiente) border-box; 
    cursor: pointer;
    transition: all 0.3s ease;
}

#fecharPopupAlerta:hover{
    background:     
    linear-gradient(var(--cor-base), var(--cor-base)) padding-box, 
    var(--gradiente) border-box; 
    transition: all 0.3s ease;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.popup-content {
    background: var(--cor-card);
    color:  var(--cor-texto);
    padding: 30px;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}

.btn-popup{
    font-size: 24px;
    color:  var(--cor-texto);
    padding: 15px 35px;
    border-radius: 14px;
    margin-top: 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    background: 
    linear-gradient(var(--cor-card), var(--cor-card)) padding-box, 
    var(--gradiente) border-box; 
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.btn-popup:hover{
    border: 3px solid transparent;
    border-radius: 15px;
    background:     
    linear-gradient(var(--cor-base), var(--cor-base)) padding-box, 
    var(--gradiente) border-box; 
    transition: all 0.3s ease;
}