#contato{
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

#contato .section-title{
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    background: teal; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    padding: 20px 20px 0 20px;
}

#contato h2{
    color: var(--cor-texto);
    filter: opacity(60%);
    font-weight: 400;
}

.email{
    font-size: 18px;
    color: var(--cor-texto);
    display: inline-flex; 
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    width: auto;
    text-decoration: none;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.email:hover{
    color: var(--btn-hover);
    transition: all 0.2s ease-in-out;
}

.email i{
    font-size: 28px;
    color: var(--cor-texto);
    filter: opacity(60%);
    padding-right: 15px;
    transition: all 0.2s ease;
}

.wrapper-contato{
    width: 1200px;
    height: 700px;
    margin: auto;
}

.social-icons{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.social-icons ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.social-icons ul li{
    padding: 0px;
}

.social-icons i{
    color:  var(--cor-texto);
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
}

.social-icons i:hover{
    color: var(--btn-hover);
    transition: all 0.2s ease-in-out;
}

.social-icons a{
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    transition: all 0.3s ease;
    border: 3px solid transparent;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}