
.form{
    float: right;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form-content {
    flex-direction: column;
}

.form label {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    color: var(--cor-texto);
}

.form-group input,
.form-group textarea {
    width: 550px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 14px;
    background: none;
    border: 1px solid grey;
    color: var(--cor-texto);
    padding-left: 10px;
}

.form-group textarea {
    padding: 10px;
}

.form-group input{
    height: 2.5em;
}

.form button{
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: teal;
    padding: 15px 35px;
    border-radius: 14px;
    margin-top: 30px;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.form button:hover{
    border: 3px solid transparent;
    background: rgb(0, 83, 83); 
    transition: all 0.3s ease;
}

.popup-alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup-alerta-content {
  background: var(--cor-card);
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px black;
}

.popup-alerta-content p{
    margin: 15px 0 0 0;    
}

#fecharPopupAlerta{
    font-size: 22px;
    color: var(--cor-texto);
    padding: 10px 35px;
    border-radius: 14px;
    margin-top: 30px;
    border: 3px solid transparent;
    border-radius: 15px;
    background: 
    linear-gradient(var(--cor-card), var(--cor-card)) padding-box, 
    var(--gradiente) border-box; 
    cursor: pointer;
    transition: all 0.3s ease;
}

#fecharPopupAlerta:hover{
    background:     
    linear-gradient(var(--cor-base), var(--cor-base)) padding-box, 
    var(--gradiente) border-box; 
    transition: all 0.3s ease;
}

.popup {
    position: fixed;
    top: -5rem;
    left: -30vh;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.popup-content {
    background: var(--cor-card);
    color:  var(--cor-texto);
    padding: 30px;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 8px 8px 10px 5px rgba(0, 0, 0, 0.308);

    & h3{
        font-weight: bold;
        font-size: 2rem;
    }
}

.btn-popup{
    font-size: 24px;
    color: var(--cor-texto);
    padding: 15px 35px;
    border-radius: 14px;
    margin-top: 20px;
    border-radius: 15px;
    background: teal;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.btn-popup:hover{
    border-radius: 15px;
    background:     
    linear-gradient(var(--cor-base), var(--cor-base)) padding-box, 
    var(--gradiente) border-box; 
    transition: all 0.3s ease;
}