#home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 90vw;
    height: 76vh;
    box-sizing: border-box;
}

.home-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.txt-home {
    width: 46ch;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.txt-home-mobile{
    display: none;
}

.txt-home::after {
    content: "";
    width: 3px;
    height: 1.5rem;
    background:  var(--cor-texto);
    display: inline-block;
    margin-left: 5px;
    animation: blink 0.7s step-end infinite;
} 
  
@keyframes blink {
    50% { opacity: 0; }
} 

.home-right{
    display: flex;
}

.img-home{
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    align-self: center;
    justify-content: center;
}

.img-home img{
    width: 600px;
    opacity: 1;
    max-width: 100%;
    transform: translateX(0);
    box-sizing: border-box;
    overflow: hidden;
    transition: all 1s;
    opacity: 0.6;
}

.img-home img:hover{
    opacity: 0.1;
    transition: all 1s;
}

.txt-home-name{
    display: flex;
    flex-direction: column;
    line-height: 3rem;

    & span:first-child {
        font-size: 3.5rem;
    }

    & span:nth-child(2){
        font-size: 2rem;
        color: var(--color-name);
    }
}

.btns-home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
}

.btn-cv{
    color: var(--cor-texto);
    border: 3px solid teal;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.3rem;    
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-top: 60px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    animation: spin 3s linear infinite, surgir-esquerda 1s ease-in-out;
    cursor: pointer;
    box-shadow: var(--sombra);
    transition: background 0.5s ease-in-out;
}

.btn-cv:hover{
    color: teal;
    transition: all 0.3s ease;
}

.btn-home{
    color: white;
    background-color: teal;
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-top: 60px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    animation: spin 3s linear infinite, surgir-esquerda 1s ease-in-out;
    cursor: pointer;
    box-shadow: var(--sombra);
    transition: background 0.5s ease-in-out;
}

.btn-home:hover{
    background: rgb(0, 83, 83); 
    transition: all 0.3s ease;
}

.redes-home{
    list-style: none;
    display: flex;
    align-items: center;
    top: 200px;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: relative;
        i {
            font-size: 2rem;
            gap: 20px;
            color: var(--link-redes);
            transition: all 0.4s ease-in-out;
        }

        i:hover{
            color: var(--btn-hover);
            transition: all 0.4s ease-in-out;
        }

        a:visited{
            color: var(--link-redes);
        }
}

.redes-home::before{
    content: "";
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 200px;
    background-color: teal;
}

.redes-home ul {
    list-style: none;
    flex-direction: column;
    display: flex;     
    gap: 20px;         
    padding: 0;
    margin: 0;
}

@keyframes surgir-esquerda{
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1440px) and (min-width: 1200px){
    .btn-home{
        font-size: 22px;
        padding: 18px 20px;
   }

}

@media (max-width: 1200px) and (min-width: 992px){

    h1{
        font-size: 50px !important;
    }

    .btn-home{
        font-size: 20px;
        padding: 15px 20px;
        margin-top: 60px;
    }

    .img-home img{
        width: 500px;
        opacity: 0;
        max-width: 100%;
    }

}

@media (max-width: 992px) and (min-width: 768px){

    .txt-home{
        font-size: 22px;
    }

    .btn-home{
        font-size: 20px;
        padding: 18px 22px;
        margin-top: 60px;
    }

}

@media (max-width: 767px) {

    #home{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .home-right{
        display: flex;
        min-width: 100vw;
    }

    .img-home{
        display: flex;
        align-items: center;
        justify-content: center;
        order: 0;
        padding: 0 0 0.5rem 0;
    }

    .img-home img {
        max-width: 70%;
        transform: translateX(0);
    }

    .redes-home{
        height: 100%;
        top: 2rem;
        left: -0.5rem;
    }

    .redes-home i{
        font-size: 1.3rem;
    }

    .redes-home::before{
        top: 10rem;
        height: 130px;
    }

    .home-left{
        display: flex;
        min-width: 100vw;
    }

    .txt-home-name{
        line-height: 1.7rem;

        & span:first-child {
            font-size: 2rem;
        }

        & span:nth-child(2){
            font-size: 1.35rem;
        }
    }

    .btns-home{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .btn-cv{
        width: 11rem;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .btn-home{
        margin-top: 0;
        font-size: 1rem;
        width: 11rem;
        margin: 0;

        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }

}