#portfolio{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    padding-top: 30px;
}

#portfolio .section-title{
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    background: teal; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    padding: 20px 20px 10px 20px;
}

.group-card{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0 45px 0;
}

.card{
    background-color: var(--cor-card);
    width: 415px;
    height: 575px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-out;
    position: relative;
    border-radius: 20px;
    box-shadow: var(--sombra);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card:hover{
    transform: scale(1.03);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card p{
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    margin: 0;
    flex-grow: 1; 
    box-sizing: border-box;
    font-size: 16px;
}

.card img{
    width: 100%;
    display: flex;
    border-radius: 10px 10px 0 0;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,1) 50%);
     mask-image: linear-gradient(to top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,1) 50%);
}

.card a{
    color: var(--cor-texto);
}

.card a:visited{
    color: var(--cor-texto);
}

.card a:hover{
    color: var(--cor-texto);
    filter: opacity(0.8);
}

.card-icons{
    font-size: 26px;
    display: flex;
    gap: 20px;
    padding: 5px 15px;
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6); 
    backdrop-filter: blur(20px); 
    z-index: 1000;
}

.modal.active{
    opacity: 1;
    pointer-events: auto;
}

body.modal-aberto{
    overflow: hidden;
    height: 100vh;
}

#modal .card-actions {
    display: flex; 
    padding-left: 20px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.modal-content h1{
    color: var(--cor-texto) !important;
    filter: opacity(60%);
}

.modal-content {
    background: var(--cor-card);
    padding: 40px 60px;
    border-radius: 15px;
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    gap: 30px;
    transform: scale(0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-content.show {
    opacity: 1;
    transform: scale(1);
}

.close-btn {
    position: absolute;
    padding: 5px;
    top: 5px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.close-btn:hover{
    color: var(--cor-texto);
    filter: opacity(70%);
}

.carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.carousel-images {
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.carousel-images img {
    border-radius: 10px;
}

.carousel-image {
    display: none;
    width: 80%;
    height: 80%;
    object-fit: contain; 
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
}

.carousel-image.active {
    display: block;
}

.carousel-btn {
    border: none;
    background-color: transparent;
    color: var(--cor-texto);
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-btn.prev {
    left: -50px;
}

.carousel-btn.next {
    right: -50px;
}

.carousel-btn.next:hover, .carousel-btn.prev:hover{   
    color: var(--cor-texto);
    filter: opacity(70%);
}