#about {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    text-align: justify;
}
    
#about .section-title {
    font-size: 3.5em;
    font-weight: bold;
    display: flex;
    background: teal; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    padding: 20px;
}
  
.about-content {
    display: flex;
    gap: 40px;
    padding: 0 3%;
}

#about p {
    padding: 0;
    margin: 0;
    flex: 1;
    font-size: 18px;
    color: var(--cor-texto);
    display: flex;
}

.txt-content{
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
}
